/* main layout */

body {
    margin: 0 auto;
    width: 60em;
}

/* header layout */

body > header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

body > header img {
    grid-column: 1;
    grid-row: 1;
}

body > header .signup {
    text-align: end;

    grid-column: 2;
    grid-row: 1;

    /* transform: translateY(50%); */
}

.signup #login_signup {
    transform: translateY(175%);
}

.signup #profile_section > img{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    transform: translateY(30%);
    object-fit: cover;
}

.signup #profile_section{
    display: flex;
    flex-direction: row;
    margin: 0;
    transform: translate(50%, -10%);
}

.signup #profile_section #profile_section_text
{
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* profile layout */

.profile-container {
    /* display: flex;
    flex-direction: row;
    align-items: stretch; */
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: [start] 12em [division] auto [end];
}

.profile-side-menu {
    grid-column: start division;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-bottom: 40%;
}

.profile-info-container {
    grid-column: division end;
    grid-row:  1;
    width: 100%;
    padding: 2em;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-info-container > .profile-picture > img {
    border-radius: 50%;
    width: 16.5em;
    height: 16.5em;
    object-fit: cover;
}

/* my listings */

#search_results {
    width: 100%;
}
