body {
    font-family: monospace;
    background-color: rgb(230, 234, 238);
    text-align: center;
}

body #logo {
    padding-top: 1em;
    width: 28em;
}

body>header {
    padding-top: 0.5em;
    text-align: center;
    font-size: 220%;
    font-weight: bold;
    padding-bottom: 0%;
}

.container {
    margin: auto;
    width: 30%;
    max-width: 28em;
    padding: 20px;
    text-align: center;
}

.container > div {
    padding-top: 15px;
}

.Username > input {
    font-size: 100%;
    width: 75%;
    padding: 2%;
}


.Password > input {
    font-size: 100%;
    width: 75%;
    padding: 2%;
}

 .Login > input{
    background-color: rgb(241, 162, 42);
    border: none;
    color: white;
    padding: 5% 10%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 90%;
    margin: 2% auto;
    border-radius: 2px;
  }