/* header */

body > header {

    background-color: #444444;
    color: white;
    padding: 1em;

}

body > header #logo {

    height: 5em;

}

body > header .signup a {

    padding: 0 1em;
    vertical-align: bottom;

    color: white;
    text-decoration: none;

}

body > header .signup #login {

    border-right: 1px solid white;
    padding-left: 0;

}

/* footer */

body > footer {

    background-color: #444444;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1em;

}

/* form */

body .apartmentSearch {

    background-image: url("https://images.unsplash.com/photo-1515073112898-12ecd7997751?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 10em;
    text-align: end;

}

.apartmentSearch .flex-container {

    display: inline-block;
    text-align: start;

}

/* fonts */

body {

    font-family: 'Verdana', sans-serif;

}

/* Search Page */

#search_results {

    padding: 1em;

}

#search_results article {

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: row;

}

.search_result_form {

    padding-top: 0.5em;
    padding-bottom: 1em;

}

.search_result_form .search_result {

    padding: 0.8em;
    border-radius: 8px;
    margin-right: 0.6em;
    background-color: rgb(241, 162, 42);

}

#search_results .info {

    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-top: 4em;

}

/*Manage listings*/

.listing_buttons {

    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-top: 4em;
}

.listing_buttons > input {
    border: none;
    margin-top: 1em;
    padding: 1em;
    color: white;
    background-color: rgb(241, 162, 42);
}



#search_results article > img {

    height: 15em;
    width: 20em;
    object-fit: cover;
    border-radius: 8px;

}

#search_results .info #nome {

    font-weight: bolder;

}

#search_results .info #preco:before {

    content: 'Price per day: ';

}
#search_results .info #preco:after {

    content: '€ / guest';

}

#search_results .info #max_pessoas:before {

    content: 'Max guests: ';

}

#search_results .info #localidade:before {

    content: 'Locale: ';

}

#search_results .info #rating:before {

    content: 'Rating: ';

}

#search_results .info #rating:after {

    content: '\2B50';

}

.search_result {

    padding: 8px 10px;
    border: 0.2em;
    border-radius: 5em;
    background-color: rgb(241, 162, 42);

}

.search_result[type="text"] {

    text-align: center;
    width: 9em;

}

/* Edit Profile Page */

.main-container {

    text-align: center;

}

.edit-profile-container {

    padding-left: 25%;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    width: 50%;

}

.button > input, .button > label
{
    background-color: rgb(241, 162, 42);
    border: none;
    color: white;
    padding: 1% 2%;
    font-weight: bold;
    font-size: 90%;
    margin: 1%;
    border-radius: 2px;

}

.edit-personals {

    display: grid;
    grid-template-columns: 48% 4% 48%;

}

.edit-personals .account-details {

    grid-column: 3 / 4;
    padding-top: 15%;

}

.edit-personals .account-details > .button {

    grid-column: 3 / 4;
    padding-top: 15%;

}

.edit-personals .image > img {

    grid-column: 1 / 2;
    width: 100%;

}

.description {

    padding-top: 3%;

}

.description > div {

    padding-bottom: 1%;

}

.description > div > label{

    font-weight: bold;
    padding-right: 100%;
    margin-bottom: 5%;

}

.description > div > textarea {

    width: 100%;
    resize: vertical;
    font-size: 130%;

}

/* profile */

.profile-side-menu {

    background-color: #777777;

}

.profile-side-menu a {

    text-decoration: none;
    font-size: 100%;
    color: #FFFFFF;

}

.profile-side-menu a {

    padding: 20px 20px 20px 20px;
    display: block;

}

.profile-side-menu a:hover {

    background-color: rgb(241, 162, 42);
    color: #000000;

}
