/* header */

body > header {
    background-color: #444444;
    color: white;
    padding: 1em;
}

body > header #logo {
    height: 5em;
}

body > header .signup a {
    padding: 0 1em;
    vertical-align: bottom;

    color: white;
    text-decoration: none;
}

body > header .signup #login {
    border-right: 1px solid white;
    padding-left: 0;
}

.signup #profile_section{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.signup #profile_section #profile_section_text
{
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* footer */

body > footer {
    background-color: #444444;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1em;
}

/* form */

body .apartmentSearch {
    background-image: url("https://images.unsplash.com/photo-1515073112898-12ecd7997751?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 10em;
    text-align: end;
}

.apartmentSearch .flex-container {
    display: inline-block;
    text-align: start;
}

/* fonts */

body {
    font-family: 'Verdana', sans-serif;
}

/* Search Page */

#search_results
{
    padding: 1em;
}

#search_results > article
{
    padding-top: 1em;
    display: flex;
    flex-direction: row;
}

#search_results #search_parameters > span
{

    padding: 6px;
    border: 2px;
    border-radius: 8px;
    margin-right: 0.6em;
    background-color: rgb(241, 162, 42);

}

#search_results .info
{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-top: 4em;
}

#search_results > article > img
{
    height: 15em;
    width: 20em;
    object-fit: cover;
    border-radius: 8px;
}

#search_results .info #nome
{
    font-weight: bolder;
}

#search_results .info #preco:before
{
    content: 'Price per day: ';
}
#search_results .info #preco:after
{
    content: '€ / guest';
}


#search_results .info #max_pessoas:before
{
    content: 'Max guests: ';
}

#search_results .info #localidade:before
{
    content: 'Locale: ';
}


#search_results .info #rating:before
{
    content: 'Rating: ';
}
#search_results .info #rating:after
{
    content: '⭐';
}

/*Edit Profile Page*/

.main-container {
    text-align: center;

.search_result
{
    padding: 8px 10px;
    border: 2px;
    border-radius: 8px;
    margin-right: 0.6em;
    background-color: rgb(241, 162, 42);
}

.search_result[type="text"]
{
    text-align: center;
    width: 9em;
}

.button > button{
    background-color: rgb(241, 162, 42);
    border: none;
    color: white;
    padding: 1% 2%;
    font-weight: bold;
    font-size: 90%;
    margin: 1%;
    border-radius: 2px;
}

.profile_picture {
    list-style-type: none;
}

.image > img {
    width: 20%;
}

.description {
    padding-top: 3%;
}

.description > div {
    padding-bottom: 1%;
}

.description > div > label{
    font-weight: bold;
    padding-right: 35%;
    margin-bottom: 5%;
}

.description >div > textarea {
    width: 50%;
    resize: vertical;
    font-size: 130%;
}

/* profile */

.profile-side-menu {
    background-color: #777777;
}

.profile-side-menu a {
    text-decoration: none;
    font-size: 100%;
    color: #FFFFFF;
}

.profile-side-menu a {
    padding: 20px 20px 20px 20px;
    display: block;
}

.profile-side-menu a:hover {
    background-color: rgb(241, 162, 42);
    color: #000000;
}
