/* header */

body > header {

    background-color: #444444;
    color: white;
    padding: 1em;

}

body > header #logo {

    height: 5em;

}

body > header .signup a {

    padding: 0 1em;
    vertical-align: bottom;

    color: white;
    text-decoration: none;

}

body > header .signup #login {

    border-right: 1px solid white;
    padding-left: 0;

}

/* footer */

body > footer {

    background-color: #444444;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1em;

}

/* form */

body .apartmentSearch {

    background-image: url("https://images.unsplash.com/photo-1515073112898-12ecd7997751?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 10em;
    text-align: end;

}

.apartmentSearch .flex-container {

    display: inline-block;
    text-align: start;

}

/* fonts */

body {

    font-family: 'Verdana', sans-serif;

}

/* Search Page */

#search_results {

    padding: 1em;

}

#search_results article {

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: row;

}

#addNewListing {
    height: 5em;
    width: 90%;
    color: rgb(241, 162, 42);
    background-color: #444444;
    margin-top: 0.5em;
    cursor: pointer;
}

#addNewListing > span{
    align-self: center;
    font-weight: bold;

    /* Makes text unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#addNewListing > i{
    align-self: center;
    font-size: 3em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.search_result_form {

    padding-top: 0.5em;
    padding-bottom: 1em;

}

.search_result_form .search_result {

    padding: 0.8em;
    border-radius: 8px;
    margin-right: 0.6em;
    background-color: rgb(241, 162, 42);

}

#search_results .info {

    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-top: 4em;

}

/*Manage listings*/

.listing_buttons {

    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-top: 4em;
}

.listing_buttons > a {
    border: none;
    margin-bottom: 1em;
    padding: 1em;
    color: rgb(241, 162, 42);
    cursor: pointer;
}



#search_results article > img {

    height: 15em;
    width: 20em;
    object-fit: cover;
    border-radius: 8px;

}

#search_results .info #nome {

    font-weight: bolder;

}

#search_results .info #preco:before {

    content: 'Price per day: ';

}
#search_results .info #preco:after {

    content: '€ / guest';

}

#search_results .info #max_pessoas:before {

    content: 'Max guests: ';

}

#search_results .info #localidade:before {

    content: 'Locale: ';

}

#search_results .info #rating:before {

    content: 'Rating: ';

}

#search_results .info #rating:after {

    content: '\2B50';

}

.search_result {

    padding: 8px 10px;
    border: 0.2em;
    border-radius: 5em;
    background-color: rgb(241, 162, 42);

}

.search_result[type="text"] {

    text-align: center;
    width: 9em;

}

/* Edit Profile Page */

.main-container {

    text-align: center;

}

.edit-profile-container {

    padding-left: 25%;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    width: 50%;

}

.button > input, .button > label
{
    background-color: rgb(241, 162, 42);
    border: none;
    color: white;
    padding: 1% 2%;
    font-weight: bold;
    font-size: 90%;
    margin: 1%;
    border-radius: 2px;

}

.edit-personals {

    display: grid;
    grid-template-columns: 48% 4% 48%;

}

.edit-personals .account-details {

    grid-column: 3 / 4;
    padding-top: 15%;

}

.edit-personals .account-details > .button {

    grid-column: 3 / 4;
    padding-top: 15%;

}

.edit-personals .image > img {

    grid-column: 1 / 2;
    width: 100%;

}

.description {

    padding-top: 3%;

}

.description > div {

    padding-bottom: 1%;

}

.description > div > label{

    font-weight: bold;
    padding-right: 100%;
    margin-bottom: 5%;

}

.description > div > textarea {

    width: 100%;
    resize: vertical;
    font-size: 130%;

}

/* profile */

.profile-side-menu {

    background-color: #777777;

}

.profile-side-menu a {

    text-decoration: none;
    font-size: 100%;
    color: #FFFFFF;

}

.profile-side-menu a {

    padding: 20px 20px 20px 20px;
    display: block;

}

.profile-side-menu a:hover {

    background-color: rgb(241, 162, 42);
    color: #000000;

}


/* Add / Edit Listing  */

.ModalBox{
    width: 45%;
    max-width: 420px;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3622;
    padding: 2em;
}

.ModalCloseBar {
    display: inline;
    /* text-align: right;  */
    font-size: 18px;
    font-weight: bold;
    color: rgb(241, 162, 42);
    cursor: pointer;
    /* align-self: right; */
}

.ModalContent >  form
{
    display: flex;
    flex-direction: column;
}

.ModalContent >  form > input
{
    margin-bottom: 1em;
}

.ModalContent >  form > input[type="number"]
{
    margin-bottom: 1em;
    -moz-appearance:textfield;
    width: auto;
}

.ModalContent > form > input::-webkit-outer-spin-button, 
.ModalContent > form > input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

.ModalContent > form > output
{
    text-align: left;
    font-size: 75%;
    padding-bottom: 2%;
}

.slider {
    border-radius: 5px;  
    background: #d3d3d3;
    width: 100%;
    height: 5px;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(241, 162, 42);
    cursor: pointer;
}

.ModalContent >  form > textarea
{
    margin-bottom: 1em;
    resize: none;
}

.ModalContent >  form > button
{
    align-self: center;
    width: 50%;
    background-color: rgb(241, 162, 42);
    color: white;
    border: none;
    padding: 0.5em 0;
    margin-top: 0.5em;
    font-weight: bold;
}

/*Add apartment photo section*/

.ApartmentPhotos{
    /* background-color: chocolate; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.5em;
    justify-items: center;
    align-items: center;
    margin-bottom: 1.5em;
}

.ApartmentPhotos > label{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .ApartmentPhotos > input{
    height: 0;
    width: 0;
} */

.ApartmentPhotos > label > i{
    font-size: 3em;
    cursor: pointer;
    color: rgb(241, 162, 42);
}

.ApartmentPhotos > img {
    width: 8.5em;
}